.section-1 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,108,1) 35%, rgba(255,0,207,1) 100%);
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 50px 0;
}