.header {
    display: flex;
    justify-content: space-around;
}

.header div {
    flex: 1;
    text-align: center;
}

.header > div:first-child > img {
    width: 130px;
}

.header > div:last-child > img {
    width: 80%;
}